#SignUpForm {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    
}

#SignUpForm input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#SignUpForm h2 {
    font-size: 25px;
}