#listingsIndexPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;
    padding-top: 193px;
    padding-left: 5.3%;
    padding-right: 5.3%;
    flex-grow: 1;

    
}

.listingItem {
    display: block;
    min-width: 260px;
    /* min-height: 370px; */
    /* border: 1px solid black; */
    flex-direction: column;
    flex: 1;
    text-decoration: none;
    color: inherit;
}

.listingItemImg {
    background-color: rgb(133, 133, 133);
    width: 100%;
    height: 71.5%;
    border-radius: 15px;
}

.listingItemImg::before {
    content: "";
    padding-top: 109%;
    display: block;
}



.listingItem>*:not(:first-child) {
    margin-top: 10px;
}