#showImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52vh;
    /* border: 1px solid black; */
    flex-grow: 1;
}

#showContainer {
    margin-left: 13%;
    margin-right: 13%;
    padding-top: 165px;
    
}


#showPageTitle {
    font-size: 30px;
    margin-bottom: 20px;
}

#miniNavBarShowPage {
    font-size: 20px;
    margin-bottom: 20px;
}



#bigShowImg {
    display: flex;
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    /* background-color: white; */
    /* margin-top: 500px; */
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

#smallShowImg {
    display: flex;
    width: 47%;
    height: 49%;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 48%;
    height: 49%;
    object-fit: cover;
    width: calc(50% - 10px)
}

#smallShowImgContainer {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    width: 50%;
    height: 100%;
    /* justify-content: center; */
        /* gap: 10px; */
        
}




#smallShowImgContainer > :nth-child(2){
    border-radius: 0px 15px 0px 0px;  
}

#smallShowImgContainer> :nth-child(4) {
    border-radius: 0px 0px 15px 0px;
}