#reservations-content-container {
    /* border: 20px solid black; */
    display: flex;
    gap: 23px;
    padding-left: 5.3%;
    padding-right: 5.3%;
    padding-top: 105px;
    flex-grow: 1;
    font-size: 34px;
    font-weight: bold;
    flex-direction: column;
}

#trips-taken-text {
font-size: 20px;
}

#reservations-greeting-container {
    display: flex;
    border: 1px solid rgb(133, 133, 133);
    height: 300px;
    width: 100%;
    border-radius: 15px;
    /* overflow: hidden; */
    
}

#greeting-msg-container {
    
    font-size: 20px;
    display: flex;
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    /* border: 1px solid rgb(255, 0, 0); */
    flex-direction: column;
}

#greeting-msg-container >* {
    padding-top: 4%;
    padding-left: 7%
}

#return-to-listings-index-button {
    padding: 0;
    margin-left: 20px;
    font-size: 20px;
    width: 25%;
    height:18%;
    border-radius: 15px;
    background-color: rgb(255, 0, 89);
    color: white;
    cursor: pointer;
}

#icon-for-reservations-hello {
    font-size: 40px;
    color: red;
}

#trips-booked-text {
    padding-bottom: 0;
}

#dust-off-msg-text {
    padding-top: 0;
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: normal;
}

#reservation-greeting-img {
    width: 55%;
    height: 100%;
    display: block;
    border-radius: 0px 15px 15px 0px;
}

#separator-reservation-page {
    border-top: .5px solid rgb(132, 132, 132);
    width: 100%;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

#current-trips-text {
    font-size: 20px;
}

#reservationsIndexPage {
    
}