#homeTopDisplayBar {
    display: flex;
    justify-content: space-between;
    border: .5px solid #c4c4c4;
    height: 80px;
}


/* might have to fix img by increasing text size */
#AirDnDHomeButton {
    width: 90px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 78px;
}


#stickyContainer {
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
    width: 100%;
}

#catagories {
    display: flex;
    justify-content: space-between;
    /* border: .5px solid #c4c4c4; */
    height: 75px;
}


#indexFooter {
    border: .5px solid #c4c4c4;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 20px;
    margin-left: 5.3%;
    margin-right: 5.3%;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-top: 20px
}


#showFooter {
    border: .5px solid #c4c4c4;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 20px;
    margin-left: 13%;
    margin-right: 13%;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-top: 20px
}